/* font family to use: "Clarkson",Helvetica,sans-serif; ref: squarespace*/
@font-face {
    font-family: "Clarkson";
    src: url(fonts\ClarksonScript-Regular.otf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #0a253b;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 6.25rem auto;
} 
.fade-in-image{ animation: fadeIn 5s }
@keyframes fadeIn {
    0% {opcaity: 0;}
    100% {opacity: 1;}
}
.container{
    padding: 0.625rem 3.125rem;
    width: 50%;
    position: relative;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.text-box{
    font-size: 15px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px 30px;

}
.right-container{
    left: 50%;
}

.left-container{
    left: 0;
}

.footer{
    background: white;
}

.container img{
    z-index: 12;
    top: 32px;
    right: -20px;
    position: absolute;
    border-radius: 50%;
    width: 45px;
    background-position: center;

}

.right-container img{
    left: -20px;
}

.timeline::after{
    animation: moveline 6s linear forwards;
    background-color: white;
    height: 100%;
    content: '';
    position: absolute;
    z-index: -50;
    width: 0.3rem;
    left: 50%;
    top: 0;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.new-events{
    background-color: #ededed;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding: 0 20%;
    
}

.new-event-column{
    overflow: hidden;
    flex-basis: 28%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(10,37,59, 0.7);
}
.new-event-column img {
    width: 1000px;
}

.new-events h2{
    padding: auto auto auto auto;
    text-align: center;
    font-size: 56px;
    font-family: "Clarkson, Roboto, sans-serif";
    font-weight: bold;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.text-box h2{
    font-weight: 700;
}
.right-container-arrow{
    position: absolute;
    height:  0;
    width: 0;
    left: -15px;
    border-right: 15px solid white;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    z-index: 4;
    top: 28px;
}
.left-container-arrow{
    position: absolute;
    height: 0;
    width: 0;
    right: -15px;
    border-left: 15px solid white;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    z-index: 4;
    top: 28px;
}

.fade{
    background: linear-gradient(#0a253b, #ededed);
    padding: 7rem;
}

.white{
    background: linear-gradient(#ededed, #ededed);
    transform: rotate(180deg);
    padding: 5rem;
}

/* .container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
} */

@media screen and (max-width: 600px){

    .timeline{
        margin: 50px auto
    }
    .timeline::after{
        left: 31px
    }
    .container{
        padding-left: 80px;
        right: 25px;
        width: 100%;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-left: 0;
        left: -15px;
        border-right: 15px solid white;
    }
}